**/node_modules
**/.vscode
**/bin
**/build
**/.gradle/
**/.classpath
**/temp/
**/.class
**/.log
**/.DS_Store
**/.settings
**/.project
!build.gradle
src/main/webapp/jinseoKing/main.js
src/main/webapp/jinseoKing/main.js
src/main/webapp/mypage/inner_article.html